## Variables

In [1]:
x='sally'
y=5
print(x)
print(y)

sally
5

In [3]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set
x='sila'
x=6
print(x)

6

In [4]:
#Casting
x=int(5)
y=str(5)
z=float(5)
print(x,y,z)

5 5 5.0

In [6]:
#get the data type of a variable with the type() function
y="gorge"
x=1919
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [9]:
##Variable names

In [10]:
#legal variable names in python
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [12]:
#Illegal Variable names in python
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-12-0ef5f6b2dbcd>, line 2)

In [14]:
#assign values to multiple variables in one line
x,y,z='abc',"bca",'cab'
print(x,y,z)

abc bca cab

In [15]:
#assign the same value to multiple variables in one line
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [16]:
#Global Variables
#Variables that are created outside of a function are known as global variables.
#Global variables can be used by everyone, both inside of functions and outside.
x = "awesome" #global variable

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [17]:
#The global Keyword
#Normally, when we create a variable inside a function, that variable is local, and can only be used inside that function.
#To create a global variable inside a function, you can use the global keyword.
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Strings

In [18]:
a='''we can assign a multiline string to a variable by using three quotes. we can use three single quotes or double qotes'''

##String methods
---Method-----------Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

In [19]:
#len method to print the length of the string.
x = "Hello World"
print(len(x))

11

In [21]:
#the first character of the string txt.


txt = "Hello World"
print(txt[0])

H

In [22]:
#string Slicing
#the characters from index 2 to index 4 (llo)
b = "Hello, World!"
print(b[2:5])

llo

In [23]:
#the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [24]:
#negative Indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [25]:
#removes whitespaces from the beginning or the end
a = " Hello, World! "
print(a.strip())

Hello, World!

In [29]:
#returns a list where the text between the specified separator becomes the list items
a = "Hello!World!Hi!Hey!God bless you"
print(a.split("!"))

['Hello', 'World', 'Hi', 'Hey', 'God bless you']

In [30]:
#String Concatenation
a="God"
b="bless"
print(a+" "+b)

God bless

In [31]:
#The format() method takes the passed arguments, formats them, and places them in the string where the placeholders are in {}
name="moupriya roy"
age= 21
print("hi,my name is {} and my age is {}".format(name,age))

hi,my name is moupriya roy and my age is 21

In [32]:
quantity = 3
unit="Kg"
obj='rice'
price = 100
myorder = "I want {0} {1} of {2} for {3} rupees."
print(myorder.format(quantity, unit, obj, price))

I want 3 Kg of rice for 100 rupees.

In [37]:
#What happens if we use double quotes inside a string that is surrounded by double quotes?
print("We are "Bengalis" from the north-east India.")

SyntaxError: invalid syntax (<ipython-input-37-dbdb2d00a2a5>, line 2)

In [36]:
# to escape the above error
print("We are \"Bengalis\" from the north-east India.")

We are "Bengalis" from the north-east India.

In [38]:
# to use 's 
print('It\'s alright.')

It's alright.

Other escape characters used in Python:
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace

## Boolean

In [39]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [40]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

## Python Collections

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered and changeable. No duplicate members.

## List

In [41]:
mylist = ["apple", "banana", "cherry"]

In [42]:
print(mylist)

['apple', 'banana', 'cherry']

In [43]:
len(mylist)

3

In [45]:
print(mylist[0])
print(mylist[1])
print(mylist[2])

apple
banana
cherry

In [47]:
print(mylist[1:])

['banana', 'cherry']

In [49]:
"""Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc."""

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [50]:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [52]:
print(thislist[1:5])

['banana', 'cherry', 'orange', 'kiwi']

In [55]:
#Change the third value by replacing it with one value
thislist[2:3] = ["watermelon"]
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [56]:
#Change the second and third value by replacing it with one value
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

_________________________List Method___________________________

Method---------------Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [54]:
#Insert "watermelon" as the third item
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [57]:
#Using the append() method to append an item
thislist.append("grapes")
print(thislist)

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'grapes']

In [58]:
#To append elements from another list to the current list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [59]:
#Add elements of a tuple to a list
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [60]:
#Remove Specified Item
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'kiwi', 'orange']

In [61]:
#Remove Specified Index using pop() method
thislist.pop(0)
print(thislist)

['cherry', 'kiwi', 'orange']

In [62]:
#If we do not specify the index, the pop() method removes the last item
thislist.pop()
print(thislist)

['cherry', 'kiwi']

In [64]:
fruitlist = ["apple", "banana", "cherry"]
del fruitlist[0]
print(fruitlist)

['banana', 'cherry']

In [65]:
del thislist

In [66]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [67]:
thislist = ["apple", "banana", "cherry","mango", "pineapple", "papaya"]
for x in thislist:
  print(x)

apple
banana
cherry
mango
pineapple
papaya

In [68]:
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry
mango
pineapple
papaya

In [69]:
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry
mango
pineapple
papaya

In [71]:
[print(x) for x in thislist]

apple
banana
cherry
mango
pineapple
papaya

[None, None, None, None, None, None]

In [72]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [73]:
#newlist = [expression for item in iterable (any iterable object, like a list, tuple, set etc) if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [75]:
print([x for x in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
print([x.upper() for x in fruits])

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [77]:
print(['hello' for x in fruits])

['hello', 'hello', 'hello', 'hello', 'hello']

In [78]:
#Return "orange" instead of "banana"
print([x if x != "banana" else "orange" for x in fruits])

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [80]:
#sort() method that will sort the list alphanumerically, ascending, by default
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [81]:
numlist = [100, 50, 65, 82]
numlist.sort()
print(numlist)

[50, 65, 82, 100]

In [83]:
#To sort descending
fruits.sort(reverse = True)
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [86]:
#Reverse the order of the list items
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [87]:
#Copy a List
mylist = thislist.copy()
print(mylist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [88]:
#Make a copy of a list with the list() method
list2 = list(thislist)
print(list2)

['cherry', 'Kiwi', 'Orange', 'banana']

In [90]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list4=["d",5,'s',6]

list3 = list1 + list2
print(list3)
list2 = [1, 2, 3]

list4.extend(list2)
print(list4)

['a', 'b', 'c', 1, 2, 3]
['d', 5, 's', 6, 1, 2, 3]

In [1]:
pwd

'C:\\Users\\HP\\Downloads\\Machine Learning Self study\\Notebook'